*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    /* display: flex;
    flex-direction: column; */
    /* flex: 1 1 auto;
    flex-wrap: wrap; */

    /* margin: 0 25px;

    background-color: #EB5757; */

    margin: 0 25px;
}

/* ======================================= Header code=======================================*/
header{
    width: 100%;

    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.logo{
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    /* font-size: 1.5rem; */
    font-size: 2.25rem;
    /* line-height: 53px; */
    /* identical to box height */


    /* Gray 1 */

    color: #333333;
}

nav{
    display: flex;
    /* flex: 0 1; */
    flex-wrap: nowrap;
}

nav a{
    text-decoration: none;
    /* margin: 0 10px; */
    padding:0 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    /* font-size: 0.9375rem; */
    font-size: 1.5rem;
    /* line-height: 36px; */
    /* identical to box height */

    /* Gray 1 */

    color: #333333;
}

nav a:nth-last-child(1){
    text-decoration: none;
    /* margin: 0 10px; */
    padding-right:0;

    /* background-color: #333333; */

}

nav a:hover{
    cursor: pointer;
}


._home-section{
    width: 100%;
}

/*======================================= Main Home Saction =================================*/
._home-info-top{
    /* width: 45%;
    min-width: 483px; */

    font-size: 1rem;
}

._home-info{
    padding-left: 5%;
}

._home-info-top >a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px; */
    font-size: 1.125em;
    /* line-height: 27px; */
    /* identical to box height */

    text-decoration: none;

    /* width: 220px; */

    color: #2D9CDB;
}

/* ._home-info-top>div{
    max-width: 543px;
} */

._home-info-top>h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    /* font-size: 2.8125rem; */
    /* font-size: 3rem; */
    font-size: 2.8em;
    line-height: 72px;

    max-width: 543px;

    /* Gray 1 */

    color: #333333;
}

/* ._home-info-top >div{
    width: 543px;
    max-width: 100%;
    width: 40vw;
    height: 144px;

    min-width: 543px;

    margin-top: 10px;

} */

.top-photo{
    margin-top: 30px;
}

/* TOP Foto */
.top-photo > img{
    width: 100%;
    height: auto;

    border-radius: 17px;
} 

/* Information down */

._home-info-down{
    /* max-width: 366px; */
    /* width: 100%; */
    /* height: 141px; */
    /* margin-top: 30px; */
    margin-top: 30px;
    /* background-color: brown; */
}

._home-info-down >h2{
    /* max-width: 366px; */
    /* height: 141px; */
    
    /* width: 366px; */
    max-width: 366px;

    /* background-color: cadetblue; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    /* font-size: 3em; */
    font-size: 42px;
    /* line-height: 72px; */

    /* Gray 1 */

    color: #333333;
}

._home-down-paragraph{
    margin-top: 40px;
    max-width: 366px;
}

._home-down-paragraph>p{
    /* max-width: 366px; */
    /* height: 137px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    /* font-size: 1.125rem; */

    font-size: 16px;
    line-height: 27px;

    /* background-color: chocolate; */
}

._home-info-down p:nth-child(3){
    width: 172px;
    height: 21px;

    margin-top: 35px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 21px;
    /* identical to box height */


    /* Gray 3 */

    color: #828282;
}

._input{
    /* max-width: 836px; */
    /* max-width: 366px; */

    width: 100%;
    height: 57px;

    padding: 15px;
    padding-right: 100px;

    margin-top: 5px;
    /* border: none; */


    /* Gray 6 */

    border:1px solid #F2F2F2;

    background: #F2F2F2;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    /* identical to box height */
    /* Gray 4 */

    color: #BDBDBD;
}

._form{
    margin-top: 4px;
    /* width: 366px; */
    max-width: 366px; ;
    
}

._form label{
    /* width: 100%; */
    width: 700px;
}
._form button{

    position: absolute;
    /* background-color: brown; */
    /* position: absolute; */
    width: 94px;
    height: 49px;

    background: #2D9CDB;
    border-radius: 9px;
    margin-left: -98px;
    margin-top:9px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    /* identical to box height */


    /* Gray 6 */

    color: #F2F2F2;

    border:1px solid #F2F2F2;

}

.submit-btn:hover{
    cursor: pointer;
}

/*======================================= Services Saction ===================================*/

._services-section,.works-section,.employees-section,.client-section{
    /* margin-top: 100px; */

    width: 80%;

    margin:50px auto;
    /* background-color: chocolate; */
}

._services-section>h2{
    max-width: 346px;
    /* height: 108px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    /* line-height: 54px; */
    line-height: 1.6em;

    /* Gray 1 */

    color: #333333;

    /* background-color: khaki; */


}

._services-section{
    margin-top: 120px;
}

.services > h3{
    margin-top: 20px;
    /* max-width: 100%; */
}

.services-container{
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;

    padding: 20px;

    margin-top: 20px;

    /* background-color: lightcoral; */
}

.svg-image{
    width: 67px;
    height: 67px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-image1,.svg-image2,.svg-image3{
    color: white;
}

.svg-image1{
    background: #2D9CDB;
}

.svg-image2{
    background: #27AE60;
}

.svg-image3{
    background: #EB5757;;
}

.services> .paragraph{
    max-width: 273px;
    /* height: 96px; */
    height: 36%;

    margin-top: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;

    /* Gray 2 */

    color: #4F4F4F;
}
.services>h3{
    width: 160px;
    height: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 36px;
    /* identical to box height */


    color: #333333;
}

.services>button{
    width: 116px;
    height: 42px;

    margin-top: 20px;


    background: #E0E0E0;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    /* identical to box height */

    border: 1px solid #E0E0E0;;


    color: #828282;
}

#blue-btn{
    width: 116px;
    height: 42px;


    background: #2D9CDB;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    /* identical to box height */

    border: 1px solid #2D9CDB;

    color: #FFFFFF;
}

.services{
    max-width: 320px;
    height: 332px;

    padding: 20px;

    /* background-color: lawngreen; */
}

.services:hover{
    /* width: 321px;
    height: 422px; */

    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;

    cursor: pointer;
}

._services-section button{
    cursor: pointer;
}

/* ===================================WORK SECTION========================================= */


.works-section>h2{
    max-width: 448px;
    /* height: 108px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25em;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;
}

.works-container{

    /* display: none; */

    /* width: 100%; */


    /* background-color: rgb(0, 0, 0); */

    /* margin-top: 10px;*/

    display: grid;

    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */

}

.work{
    /* background-color: lime;
    max-width: 348px; */
    min-width: 100%;
}


.work-photo--container>img{
    /* width: 510px; */

    max-width: 90%;
    /* max-width: 500px; */

    /* height: 445px; */
    height: auto;
    border-radius: 12px;
}

.work p:nth-child(2){
    margin-top: 10px;

    max-width: 190px;

    /* width: 186.98px;
    height: 26.95px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 21px;

    /* Gray 3 */

    color: #828282;
}

.work p:nth-child(3){
    /* background-color: tomato; */

    /* max-width: 367.77px; */
    /* height: 45.34px; */

    min-width: 30%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 36px;

    /* Gray 1 */

    color: #333333;
}

.down-card{
    margin-top: 90px;
}


/* SEE MORE */
.see-more-container{
    display: flex;
    /* flex-direction: row-reverse; */
    align-content: center;
    flex-flow: row-reverse;

}

.see-more-container >p{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 36px;
    /* identical to box height */

    margin-right: 10px;

    color: #2D9CDB;
}

.material-icons.md-36{
    font-size: 2.25rem;
    color: #2D9CDB;
}


/* +================================EMPLOYES============================================= */

#meet{
    width: 280px;
    height: 27px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #EB5757;
}

.employees-section{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    /* min-width: 100%; */
}

.content{
    margin-top: 155px;
}

.content>h2{
    width: 280px;
    height: 162px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;
}

.content >p{
    width: 273px;
    height: 48px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;

    /* Gray 2 */

    color: #4F4F4F;
}

.employees-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 12px;

}

.employees-photo{
    border-radius: 12px;
    width: 100%;
    height: auto;
}

#photo3{
    grid-column: 1/2;
    grid-row: 1/4;

    justify-content: center;
    align-self: center;
}


/* =======================================CLIENTS========================================== */

.client-section{
    display: flex;
    flex-direction: column;
    /* min-width: 100%; */
}

blockquote{
    max-width: 650px;
    /* height: 162px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;
}

.client-container{
    display: flex;
}

.client-photo > img{
    width: 90px;
    height: 90px;

    border-radius: 14px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.client-container{
    margin-top: 20px;
}

.client-information{
    margin-left: 15px;
    margin-top: 10px;

    /* min-width: 100%; */
}

.client-information p:nth-child(1){
    width: 140px;
    height: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    /* identical to box height */
    /* Gray 1 */

    color: #333333;
}



.client-information p:nth-child(2){
    max-width: 230px;
    /* height: 27px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 27px;
    /* identical to box height */

    /* Gray 3 */

    color: #828282;

}


/* =======================================FOOTER========================================== */

footer{
    /* display: flex;
    justify-content: space-around; */

    padding-top: 30px;

    background: #100E1D;
}

.footer-information{
    display: flex;
    justify-content: space-around;
}

.nav-footer{
    display: flex;
    flex-direction: column;
}

.nav-footer a{
    text-decoration: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 200%;
    /* or 36px */


    color: #FFFFFF;
}

.social-mideas >h2{

    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 53px;
    /* identical to box height */

    /* Gray 6 */

    color: #F2F2F2;
}

.icons-container img{
    margin-left: 5px;
}

.search-container >p{

    width: 172px;
    height: 21px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 21px;
    /* identical to box height */


    /* Gray 6 */

    color: #F2F2F2;
}

#developed{
    margin-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #F2F2F2;
}


/* =============================================REPOMSIVITE=========================================== */
@media (max-width:500px) {
    /* body{
        background-color: tomato;
    } */
    
    nav{
        display:none;
    }

    /* ._home-info-top{
        background-color: yellowgreen;
        font-size: 12px;
        padding-left: 0;
    } */

    /* ._home-info-top>a{
        font-size: 4vw;
    }*/

    /* ._home-info-top>h2{
        background-color: violet;
        font-size: 4vw;
    }  */




    /* main{
        background-color: teal;
        width: 100%;

        margin: 0;
    }

    ._home-info{
        margin-left: 0px;
    }

    ._home-info-top >div>h2{
        width: 60vw;
        max-width: 100%;
        font-size: 1.5rem;
        line-height: 29px;

        background-color: turquoise;
    } */
}